doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/favicon.ico')
  body
    block content
    footer.w3-container.w3-pink
      address
        span Gerado por EngWeb2025 em #{data} 
        a(href='/alunos') Voltar