doctype html
html
  head
    title Contratos   
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/student.png')
  body
    header.w3-container.w3-pink 
      h1
        span Bem-Vindo!
    block content
    footer.w3-container.w3-pink 
      address 
        span Gerado por EngWeb em #{date} 
          a(href='/') Voltar
