doctype html
html
  head
    title Erro ao processar SIP
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    style.
      body {
        background-color: #f0f4f8;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

  body
    .w3-display-middle
      .w3-card-4.w3-animate-opacity(style="max-width: 600px; background-color: #ffffff; padding: 40px 30px; border-top: 6px solid #e53935;")
        .w3-center
          i.fa.fa-triangle-exclamation.fa-4x.w3-text-red
          h2.w3-text-dark-grey.w3-margin-top Erro ao processar o SIP
          p.w3-text-grey.w3-margin-top #{mensagem}

        .w3-center.w3-margin-top
          a.w3-button.w3-red.w3-round.w3-hover-dark-red(href="/") 
            i.fa.fa-arrow-left
            |  Voltar à Página Inicial

    footer.w3-container.w3-red.w3-center.w3-padding-16(style="position: fixed; bottom: 0; width: 100%")
      h5.w3-margin-0 Gerado por EngWeb2025 em #{date}
