extends ../layout

block content
  .w3-card-4
    .header.w3-container.w3-teal
      a.w3-button.w3-circle.w3-xlarge.w3-light-gray.w3-margin-top.w3-margin-left(title="Voltar", href="/")
        i.fa.fa-arrow-left.w3-text-teal

      .w3-row
        .w3-col.m6.l6
          h1.w3-serif Utilizadores
        .w3-col.m6.l6.w3-right-align.w3-margin-top

  .w3-container.w3-margin-top
    h2.w3-serif.w3-text-teal Lista de Utilizadores

    if utilizadores && utilizadores.length
      .w3-row-padding
        each user in utilizadores 
          .w3-col.s12.m6.l4
            .w3-card.w3-round.w3-white.w3-padding.w3-margin-bottom(style="min-height: 160px")
              h4.w3-text-dark-grey
                i.fa.fa-user.w3-margin-right
                | #{user.nome}
              p
                b ID:
                |  #{user._id}
              .w3-margin-top
                a.w3-button.w3-blue.w3-round(href="/utilizadores/" + user._id, style="width: 100%")
                  i.fa.fa-eye.w3-margin-right
                  | Ver Perfil
    else
      .w3-container.w3-padding
        p Nenhum produtor encontrado.
